/* @theme presentation */

@import 'default';

section {
    width: 1024px;
    height: 768px;
}

/* Title Page */
div.title {
    display: flex;
}

.title.logo {
    height: 100px;
}

.title.header {
    display: block;
    text-align: center;
    font-size: .65rem;
}

.title.department {
    margin-top: 20px;
    text-align: right;
    font-size: 0.7rem;
}

.title.year {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .8rem;
    color: #666;
}

h1.title {
    text-align: center;
    font-size: 1.2em;
}

h2.title {
    margin-top: 0px;
    text-align: center;
    font-size: .9em;
}

.title.student {
    text-align: center;
    font-size: .9em;
}

.title.director {
    text-align: center;
    font-size: .9em;
}
/* ========== */

/* Smaller */
p.smaller {
    font-size: .8em;
}

img.smaller {
    width: 85%;
}
/* ======= */

.centered {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.columns {
    display: flex;
    gap: 1rem;
}

.columns>div {
    flex: 1 1 0;
}

.petri {
    font-size: .6rem;
    width: 400px;
}

.tech-logo {
    height: 140px;
}